

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Movies</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    
</head>
<body>
    <div class="container">
        <h1>Click on the movie to check the showtimes!</h1>
        {{#each movies}}
       
        <img  src="{{this.image}}" alt="{{this.title}}">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <a href="/movies/{{this._id}}"><button>See More</button> </a>
    
    {{/each}}
    </div>
</body>
</html>
