<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }} - Movie Details</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Movie Details</h1>
        <div class="movie-details">
            <div class="movie">
                <img src="{{movie.image}}" alt="{{movie.title}}">
                <h2>{{movie.title}}</h2>
                <p><strong>Director:</strong> {{movie.director}}</p>
                <p><strong>Stars:</strong> {{movie.stars.join}}</p>
                <p><strong>Description:</strong> {{movie.description}}</p>
                <p><strong>Showtimes:</strong> {{movie.showtimes.join}}</p>
            </div>
        </div>
    </div>
</body>
</html>
