
 <a href="/movies" class="card-link">Go Back</a>
 <br> <br>

  <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{movies.image}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h3 class="card-title">{{movies.title}}</h3>
                    <h5 class="card-text">Director: {{movies.director}}</h5>
                    <p class="card-text">Stars: {{movies.stars}}</p>
                    <p class="card-text">{{movies.description}}</p>
                    <p class="card-text">{{movies.showtimes}}</p>
                </div>
            </div>
        </div>
  </div>